.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #ff8474;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    font-size: 5.5rem;
    letter-spacing: 3px;
    color: #9f5f80;
    text-shadow: 5px 0 #ffc996;

  }
  h2{
    text-align: center;
    font-size: 2rem;
    color: white;
    line-height: 15px;
  }
  h1:hover{
    color: #ffc996;
    text-shadow: 5px 0 #583d72;
  }
  
  p {
    font-size: 3rem;
    /* color: #ffc996; */
    color: #9f5f80;
    font-family: 'Indie Flower', cursive;
    margin-top: 10%;
    margin-bottom: 12%;
  }
  
  img {
    width: 60%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  #clickMe{
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    background-color: #ffc996;
    color: #9f5f80;
    
  }
  #clickMe:hover{
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    background-color: #9f5f80;
    color: white;
    
  }
  